@{
    ViewData["Title"] = "Home Page";
}



<div class="containerFondo">
    <div class="TituloImagen">
        <h1 class="display-4">Bienvenido a Simplex video tools</h1>
        <h2 class="h2titulo">Una aplicacion simple con herramientas de video</h2>
    </div>
</div>

<!---->
<section>
    <div class="container">


        <div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa fa-picture-o" aria-hidden="true"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Extraer <span>Imagenes</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Extraer imagenes de un video nunca fue tan sencillo!.Solo ingresa los segundos y listo!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa fa-files-o" aria-hidden="true"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            Cambiar
                           <span>formatos de video</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">En tan solo un par de clicks puedes cambiar el formato de cualquier video (.avi,.mp4 ,.mpeg, etc )</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa fa-file-audio-o"  aria-hidden="true"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            Extraer
                            <span>el audio de un video</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Puedes extraer el audio de cualquier video en formato mp3</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa fa-expand" aria-hidden="true"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Cambiar <span>resolucion de un video</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Puedes cambiar a las resoluciones mas usadas o ingresar manualmente cualquier resolucion</p>
                    </div>
                </div>
            </div>




        </div>

    </div>

</section>
