@{
    ViewData["Title"] = "Privacy Policy";
}
<body class="bodyPrivacy">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="d-flex justify-content-center tituloAPP">Gracias por adquirir nuestro software</h1>
                <h2 class="d-flex justify-content-center tituloAPP">Ahora ya podes iniciar sesion desde la aplicacion!</h2>
                <div class="container d-flex justify-content-center"> <iframe class="" width="1020" height="580" src="https://www.youtube.com/embed/qIMyrWE3Zr8?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>  
    </body>

